body{
    background-image: url("https://mocah.org/uploads/posts/1176805-white-black-digital-art-monochrome-texture-circle-light-shape-line-darkness-screenshot-computer-wallpaper-black-and-white-monochrome-photography-font.jpg");
    background-size: auto;
}

.about{
    font-family: 'Cutive Mono', monospace;
}

.logo{
    font-size: 50px;
    text-align: center;
    font-family: 'Libre Barcode 128 Text', cursive;
}

nav{
    text-align: center;
    font-size: 50px;
    border-radius: 25px;
    border: solid black 3px;
    font-family: 'Libre Barcode 128 Text', cursive;
    background: RGB(86, 86, 86);
    color: black;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

a:hover{
    color: white;
}


h1{
    font-family: 'Cutive Mono', monospace;
}

h2{
    font-family: 'Cutive Mono', monospace; 
    font-size: 15px;
}

p{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 15px;
}

.card{
    border-radius: 10px;
    border: solid black 3px;
    padding: 10px;
    font-family: 'Cutive Mono', monospace;
    font-size: 15px;
    background: RGB(255, 255, 255);
    background-image: url("https://i.pinimg.com/originals/9f/50/3c/9f503c6c99f7a6fecab1d3155205d9b0.jpg")
}

.new{
    height: 50%;
    width: 50%;
}

.show{
    width: 50%;
}

.sheet{
    display: block;
    margin: 5% 0 0 65%;
}

.signup{
    height: 200px;
    width: 300px;
    margin: 5% 0 0 65%;
}

.login{
    height: 125px;
    width: 300px;
    margin: 5% 0 0 5%
}

.SOSdetail{
    border-radius: 10px;
    padding: 10px;
    
}

.welcome{
    font-size: 50px;
}

.right{
    float: right;
}